html, body {
    background-image: url(/genback.jpg);
    min-height: 100vh;
    max-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
  }

  #list {
    overflow: auto;
    max-height: 75vh;
  }

  .App {
    text-align: center;
}