/* html, body {
    background-image: url(/genback.jpg);
    min-height: 100vh;
    max-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
  } */

  #list {
    overflow: auto;
    max-height: 75vh;
  }

  #full-page {
    min-height: 100vh;
  }

  .App {
    text-align: center;
}

.landing {
  background-image: url(/Titanium.jpg);
  min-height: 100vh;
  max-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover  
}

.football {
  background-image: url(/NFLalternate.jpg);
  min-height: 100vh;
  max-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover  
}

.basketball {
  background-image: url(/NBAbackground.jpg);
  min-height: 100vh;
  max-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover  
}

.hockey {
  background-image: url(/NHLbackground.jpg);
  min-height: 100vh;
  max-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover  
}

.baseball {
  background-image: url(/MLBbackground.jpg);
  min-height: 100vh;
  max-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover  
}